{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}

	<div class="">
		<h1>Série
			{{ categoryName }}</h1>
		<div class="">
			{% for program in programs %}
				<div>
					<a href="{{ path("program_show", { id: program.id }) }}">
						<h2>{{program.id}}/{{ program.title }}</h2>
					</a>
					<p>{{program.synopsis}}</p>

				</div>
			{% else %}
				Aucune série de cette catégorie trouvée.
			{% endfor %}
		</div>

	</div>
{% endblock %}
