{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="media">
		<h1 class="mt-0">Saison #{{ season.number }}
			de
			{{ program.title }}</h1>

		{% for episode in episodes %}
			<a href="{{ path('program_episode_show', {program : program.id , season : season.id, episode:episode.id}) }}">
				<h3>{{episode.number}}/{{episode.title}}</h3>
			</a>
			<p>Synopsis :
				{{episode.description}}</p>
		{% endfor %}
	</div>
</div></div><a href="{{ path('program_index') }}">
Retour à la liste des programmes</a>{% endblock %}
